{% extends "mail/layout.html" %} {% block body %}

<h2>Login</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post" class="flex flex-col gap-3">
  {% csrf_token %}
  <div class="form-group">
    <input autofocus type="email" name="email" placeholder="Email" />
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password" />
  </div>
  <input class="btn cursor-pointer" type="submit" value="Login" />
</form>

Don't have an account?
<a class="text-blue-500 hover:underline" href="{% url 'register' %}"
  >Register here.</a
>

{% endblock %}
