{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Violin Sheet Music 🎻{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer base {
        h1,
        h2,
        h3,
        h4,
        p {
          @apply my-2;
        }
        h1 {
          @apply text-5xl font-semibold;
        }
        h2 {
          @apply text-3xl font-semibold;
        }
        h3 {
          @apply text-xl font-semibold;
        }
        h4 {
          @apply text-lg font-semibold;
        }
        .btn {
          @apply px-3 py-[4px] rounded-md bg-blue-500 text-white text-sm;
        }

        .btn-inverted {
          @apply border border-blue-500 px-3 py-[4px] text-blue-500 rounded-md hover:border-white hover:bg-blue-500 hover:text-white transition-all duration-100 text-sm;
        }
        input,
        textarea,
        select {
          @apply border border-zinc-200 rounded-md pl-1 py-1 w-full bg-zinc-700;
        }
      }
    </style>
  </head>
  <body class="p-5 bg-zinc-800 text-zinc-300">
    <header class="flex justify-between items-center">
      <h2><a href="/">Violin Sheet Music 🎻</a></h2>
      <div class="flex gap-3 items-center">
        <ul class="flex gap-3 flex-col md:flex-row">
          {% if user.is_authenticated %}
          <li>
            <a href="/profile/{{ user }}"
              ><strong>{{ user.username }}</strong></a
            >
          </li>
          {% endif %}
          <li>
            <a href="{% url 'index' %}">All sheets</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'login' %}">Log In</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <a href="/upload-sheet" class="btn p-2">Upload Sheet</a>
        {% endif %}
      </div>
    </header>
    <div class="flex gap-5 flex-col" class="body">
      {% block body %} {% endblock %}
    </div>
  </body>
  {% block script %} {% endblock %}
</html>
