{% extends "auctions/layout.html" %}

{% load auction_extras %}

{% block body %}
    <h2>Your watchlist</h2>
    {% for listings in watchlist_listings %}
        <div class="flex gap-5 border-t border-b boder-zinc-400 py-2">
            <img width="200px" src="{{ listings.image_url }}" alt="Listings image" />
            <div>
                <h3><a href="{% url 'listings' listings.pk %}">{{ listings.title }}</a></h3>
                <p><b>Price:</b>{{ listings.starting_bid|format_currency }}</p>
                <p>{{ listings.description }}</p>
                <p class="text-zinc-400 text-sm ">Created {{ listings.timestamp }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}